/*
 * CSS MAP
 *
 * 1 - Almighty Knacss & font file inclusion
 * 2 - HEADER
 * 3 - MAIN CONTENT
 */

/*
 * 1 - Almighty Knacss & font file inclusion
 */

@import '../font/roboto.css';
@import 'knacss/knacss';

/*
 * 2 - HEADER
 */

.page-header {
  padding: 2rem 2%;
}

@include media('>=small-screen') {
  .page-header {
    padding: 2rem 5%;
    flex-direction: column;
  }
}

@include media('>=small-plus-screen') {
  .page-header {
    flex-direction: row;
  }
}

@include media('>=small-plus-screen') {
  .page-header {
    align-items: center;
    justify-content: space-around;
  }
}

@include media('>=large-screen') {
  .page-header {
    width: 80%;
    margin: auto;
  }
}

.page-header__title {
  text-transform: uppercase;
  text-align: center;
}

.page-header__logo {
  margin: auto;
}

@include media('>=tiny-plus-screen') {
  .page-header__logo {
    max-width: 300px;
  }
}

@include media('>=small-screen') {
  .page-header__logo {
    height: 100px;
  }
}

@include media('>=small-plus-screen') {
  .page-header__logo {
    margin: 0;
  }
}


/*
 * 3 - MAIN CONTENT
 */
.game-server {
  text-align: center;
}

.game-server__join {
  padding: 5px 25px;
  background-color: #666;
  text-transform: uppercase;
  color: $base-color;
  text-decoration: none;
  font-family: 'robotobold';
  box-shadow: 0px 0px 7px 0px rgba(255,255,255,1);
  letter-spacing: 1px;
  border-radius: 3px;
  border: 1px solid #fff;
  transition-duration: 0.5s;
  transition-property: box-shadow, color, border;

  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(198,22,0,1);
    border-color: $base-color-link;
  }
}
